@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url('/static/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

.tool-page * :not(i) {
    font-family: 'Inter', 'Times New Roman', Times, serif;
    /* background-color: #f8f9fa !important; */
    /* color: black !important; */
}

.tool-page * :not(.js-btn-next, i, .footer *, .intro-bubble > p, .title-step *) {
    color: black !important;
}

.tool-page {
    height: 100vh;
    /* background-color: #f8f9fa !important; */
}

/* .container_multisteps-form__progress {
    display: none;
} */

.multisteps-form__progress-btn {
    font-size: 14px;
}

.multisteps-form__progress-btn.js-active.js-active-red {
    /* color: #d61111 !important; */
    color: #aa4207 !important;
}

.multisteps-form__progress-btn.intro-progress-bar::before{
    width: 80px;
    height: 50px;
    top: -19px;
    color: rgba(0, 164, 77, 0.3) !important;
}

.step-line-container {
    display: none;
}

.intro-bubble {
    width: 80px; 
    height: 50px; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #67748e;
    border-radius: 50%;
    background-color: #21ac8d;
    
/* color: #f0f0f0; */
}

.intro-bubble > p {
    color: #f8f9fa !important;
}

.intro-text {
    font-size: 1rem;
}

.step-line {
    border-top: 1px solid black;
    height: 2px;
    width: 85%;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 25px;
}

.js-btn-next {
    color: #f8f9fa !important;
}

.intro-image img {
    width: 80%;
    max-height: 320px;
}

.options-arbol {
    cursor: pointer;
}

#next-button,
#print-button {
    background-image: linear-gradient(310deg, #919191 0%, #595959 100%) !important;
}

#step-5 label {
    font-size: 1rem !important;
}

@media only screen and (min-width: 1024px) {
    .intro-text {
        font-size: 1.2rem;
    }    
}

  @media only screen and (min-width: 1428px) {

    .intro-text {
      font-size: 1.5rem;
    }    
    /* .intro-image {
      width: 90%;
    } */
  }

  @media only screen and (min-width: 1800px) {

    .intro-text {
      font-size: 1.4rem;
    }    
    .intro-image img {
      width: 80%;
      max-height: 320px;
    }
    .step-text {
      font-size: 1.2rem;
    }
  }

.col-circle {
    display: none !important;
}

.rec-arbol {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #67748e;
    border-radius: 10px;
    color: #f0f0f0;
}

.circle-arbol {
    width: 150px; 
    height: 150px; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #67748e;
    border-radius: 50%;
    color: #f0f0f0;
    /* background: -webkit-linear-gradient(-225deg, rgba(126,211,166, 0.8) 0, rgba(0,164,77, 0.8) 100%);
    background: -moz-linear-gradient(315deg, rgba(126,211,166, 0.8) 0, rgba(0,164,77, 0.8) 100%);
    background: linear-gradient(315deg, rgba(126,211,166, 0.8) 0, rgba(0,164,77, 0.8) 100%); */
    position: absolute;

    -webkit-box-shadow: 2px 4px 7px 2px rgba(0,0,0,0.2) ;
  box-shadow: 3px 5px 8px 3px rgba(0,0,0,0.2) ;

    -webkit-transition: box-shadow 0.4s ease-in-out,  
                        /* background 0.4s ease-in-out,  */
                        /* color 0.4s ease-in-out,  */
                        transform 0.4s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out,  
                    /* background 0.4s ease-in-out,  */
                    /* color 0.4s ease-in-out,  */
                    transform 0.4s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out,  
                    /* background 0.4s ease-in-out,  */
                    /* color 0.4s ease-in-out,  */
                    transform 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out,  
                /* background 0.4s ease-in-out,  */
                /* color 0.4s ease-in-out,  */
                transform 0.4s ease-in-out;
}

.circle-arbol:hover {
    -webkit-box-shadow: 0 0 12px 7px  rgba(0,0,0,0.2) ;
    box-shadow: 0 0 12px 7px 2px rgba(0,0,0,0.2) ;

    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);

    /* background: -webkit-linear-gradient(-225deg, rgba(126,211,166, 0.8) 0. rgba(0,164,77, 0.8) 100%);
    background: -moz-linear-gradient(315deg, rgba(0,164,77, 0.8) 0, rgba(126,211,166, 0.8) 100%);
    background: linear-gradient(315deg, rgba(0,164,77, 0.8) 0, rgba(126,211,166, 0.8) 100%);

    color: #fdc00d; */
   
}

.title-step {
    /* background-color: rgba(0, 164, 77, 0.3); */
    background-color: #21ac8d;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    width: auto;
}

.title-step > h4 {
    color: #f8f9fa !important;
}

.p-step {
    /* background-color: rgba(0, 164, 77, 0.3); */
    /* border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05); */
    width: auto;
}

.table-species {
    /* table-layout: fixed; */
    width: 1625px !important;
}

.table-species th, td {
    /* width: 184px !important; */
    word-wrap: break-word;
}

.table thead tr th > a {
    text-align: center;
}


.table thead tr th:first-child > a {
    text-align: start;
}

#species-list tbody td {
    text-align: start;
}

.dataTable-wrapper .dataTable-bottom {
    margin-top: 1.5rem !important;
}

.dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list .active a {
    background-image: linear-gradient(310deg, #064728 0%, #006d70 100%) !important; 
}

.table thead tr th {
    /* color: #67748e !important; */
    /* color: #566176 !important; */
    font-weight: 600 !important;
    opacity: 1 !important;
}

.table tbody tr td {
    /* color: #8392AB !important; */
    /* color: #667286 !important; */
    /* font-weight: 600 !important; */
    /* opacity: 0.9 !important; */
}

.table td, .table th {
    white-space: normal !important;
  }

  .form-check-input:checked[type="checkbox"] {
    background-image: linear-gradient(310deg, #21ac8d 0%, #21ac8d 100%);
  }

.tool-tip,
.tool-tip-ivim,
.tool-tip-circle {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    max-width: 13rem;
    min-width: 8rem;
    width: max-content;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.95);

    box-shadow: 0 0 10px #999898;

    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 5px;

    top: 40%;
    left: 12.5%;

    opacity: 0;
    transition: opacity .3s ease;
}

.tool-tip-ivim {
    top: 80%;
    left: -20%;
    text-transform: none;
}

.tool-tip-circle {
    top: 60%;
    left: 0%;
}

#table-species-selected tr th #ivim:hover .tool-tip-ivim,
#table-conditions tbody tr td #specie_name:hover .tool-tip,
#table-conditions2 tbody tr td #specie_name:hover .tool-tip,
#table-asociations tbody tr td #specie_name:hover .tool-tip,
.circle-arbol:hover .tool-tip-circle {
    opacity: 1;
}

#table-species-selected,
#table-conditions,
#table-conditions2,
#table-asociations {
    /* table-layout: fixed; */
    border-collapse: inherit;
    
}

#table-species-selected tbody td, 
#table-conditions tbody td,
#table-conditions2 tbody td, 
#table-asociations tbody td{
    padding: 0.4rem 1.5rem !important;
}

#table-species-selected th,
#table-species-selected td,
#table-conditions th,
#table-conditions td,
#table-conditions2 th,
#table-conditions2 td,
#table-asociations th,
#table-asociations td  {
    /* min-width: 110px; */
    word-wrap: initial;
}

#table-species-selected thead tr th:first-child,
#table-species-selected tbody tr td:first-child,
#table-conditions thead tr th:first-child,
#table-conditions tbody tr td:first-child,
#table-conditions2 thead tr th:first-child,
#table-conditions2 tbody tr td:first-child,
#table-asociations thead tr th:first-child,
#table-asociations tbody tr td:first-child  {
    position: sticky;
    left: 0;
    background-color: white;
}

#table-species-selected thead tr th:nth-child(2),
#table-species-selected tbody tr td:nth-child(2){
    position: sticky;
    left: 145.5px !important;
    background-color: white;
    z-index: 1;
}

.carousel {
    height: 60vh;
    background-color: gray;
}

.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 12px; */
    /* font-size: 16px; */
    /* border: none; */

    align-items: center;
    /* width: 100%; */
    padding: 0.5rem 0.75rem;
    border: 1px solid #d2d6da;
    border-radius: 0.5rem;
    font-size: 14px;
    /* min-height: 40px; */
    /* overflow: visible; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;


  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    overflow: visible;
  }
  
  .dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    
    
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: -webkit-box; z-index: 1000 !important;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */



.tree-step-three {
    width: 100px; 
    height: 50px; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #67748e;
    border-radius: 15px;
    color: #f0f0f0;
}


#container-treetrunk-asociations {
    visibility: hidden;
}


.active-green {
    background: #064728;
}

.active-red {
    background: #931010;
}

.choices__list.choices__list--dropdown.is-active {
    z-index: 10;
}

.footer {
    position: relative;
    bottom: -75vh;
    z-index: -1;
}



/* @media only screen and (min-width: 992px) and (max-width: 1599px) { */
@media only screen and (min-width: 992px) {

    .image-arbol {
        display: none;
    }

    .circle-container {
        display: flex;
        justify-content: center;
    }

    .circle-arbol {
        width: 120px;
        height: 120px;
        position: initial !important;
    }

    .circle-arbol span {
        font-size: 0.875rem !important;
    }

    #table-card {
        height: 650px;
    }

    
}

@media only screen and (min-width: 1300px) {
    .image-arbol {
        display: block;
        position: relative;
    }

    .circle-container {
        display: block !important;
        position: relative !important;
    }

    .circle-arbol {
        width: 130px;
        height: 130px;
        position: absolute !important;
    }

    #table-card {
        height: 580px;
    }
}

@media only screen and (min-width: 670px) {
    .row-circle .row-two div {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media only screen and (min-width: 768px) {
    .step-line-container{
        display: flex !important;
    }
}

@media only screen and (min-width: 992px) {
    .row-circle {
        display: none;
    }

    .col-circle {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        height: 540px;
    }

    #table-card {
        height: 540px;
    }
}