<!DOCTYPE html>
{% load static %}
<html>
<head>
     <style>



   .imagen{
    margin-left: -10px;
    #margin-right: -10px;
   }

    
     </style>
</head>
<body style="margin:0; padding:0;">

<h6>
     Este reporte fue generado por la herramienta interactiva ÁrbolSAF 
</h6>
 <p>
     Carreño-Rocabado G., Quiñones L., Ramos K., Ramirez F., Visscher A, Robiglio V. 2023. Herramienta interactiva de selección de especies para el codiseño de opciones agroforestales ArbolSAF Versión Alfa 1.0. CIFOR-ICRAF. Perú.  
 </p>

</body>
</html>