<!DOCTYPE html>
{% load static %}
<html>
<head>
     <style>


     body {
        min-height: 150px;
        
   }
   .imagen{
    margin-left: -10px;
    #margin-right: -10px;
   }

            .qr {
                    margin-left: 470px;
                    margin-top: -160px;
                  }
     </style>
</head>
<body style="margin:0; padding:0;">

      <!--img src="/static/assets/img/herramienta/Cabecera_1_ÁrbolSAF.png" class="w-100 h-20"-->

    <img src="{% static '/assets/img/herramienta/Cabecera_1_ÁrbolSAF.png' %}" class="text-right imagen" width="1370" >
    <!--img src="{{ pdf_header}}" class="text-right imagen" width="1370" height="200" -->
   

</body>
</html>