<footer class="footer pt-8">
  <div class="container-fluid px-8">
    <div class="row d-flex justify-content-between">
      <div class="col-6 d-flex flex-column align-items-start" style="font-size: 12px;">
        <ul class="list-unstyled ps-0 d-flex">
          <li class="me-4">
            <a class="social-media-link-icon--facebook externalLink" href="https://www.facebook.com/worldagroforestry" target="_blank">
              <span class="fa fa-facebook fa-2x"></span>
            </a>  
          </li>
          <li class="me-4">
            <a class="social-media-link-icon--twitter externalLink" href="https://www.twitter.com/icraf" target="_blank">
              <span class="fa fa-twitter fa-2x"></span>
            </a>  
          </li>          
        </ul> 

        <span>© 2023 CIFOR-ICRAF Todos los derechos reservados.</span>
        <span>Contacto: latinoamerica@cifor-icraf.org</span>
        <span>www.cifor-icraf.org</span>  
      </div>

      <div class="col-6 row align-items-center justify-content-end">
        <div class="d-flex justify-content-end" style="flex-direction:column">
          <span class="text-end mb-3" style="font-size: 12px;">Con el apoyo de:</span> 
          <div class="d-flex justify-content-end">
            <img src="/static/assets/img/herramienta/Logo_ARC.png" style="width: 20%">    
            <img src="/static/assets/img/herramienta/Logos_PPS_2023_GEF.png" style="width: 20%">
          </div>          
        </div>        
      </div>  
    </div>    
  </div>
</footer>
