{% load user_has_group %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/arbolsaf-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/arbolsaf-icon.png">

  <title>ÁrbolSAF - {% block title %}{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link id="pagestyle" href="/static/assets/css/soft-ui-dashboard.css?v=1.0.5" rel="stylesheet" />

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKB8664E2L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GKB8664E2L');
  </script>

  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body class="{% block body_class %}{% endblock %}">

  {% include "includes/sidebar.html" %}

  <main class="main-content max-height-vh-100 h-100">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </main>

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock footer %}

  {% include "includes/scripts.html" %}
  {% block javascripts %}{% endblock javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="/static/assets/js/soft-ui-dashboard.min.js?v=1.0.5"></script>

</body>
</html>
