{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
  Formulario tipo variable
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <form enctype="multipart/form-data" method="post" name="theForm">
          {% csrf_token %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger text-white">
                  <strong>{{ error|escape }}</strong>
                  {{ field.label|capfirst }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger text-white">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          <div class="card card-body mt-4">
            <!--h6 class="mb-0">New Project</h6>
          <p class="text-sm mb-0">Create new project</p-->
            <div class="row">
              <div class="col-7">
                {% if not form.instance.id %}
                  <h3>Nuevo tipo variable</h3>
                {% else %}
                  <h3>
                    Actualizar tipo variable:  <span>'{% firstof variable.variable|default_if_none:"-"|capfirst %}'</span>
                  </h3>
                {% endif %}
              </div>
              <div class="col-5">
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary btn-large btn-sm m-b-xm mx-1">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Guardar
                  </button>
                  {% if not form.instance.id %}
                  <a href="{% url 'arbolsaf:variable_type_list' %}"
                     class="btn btn-danger btn-large btn-sm m-b-xm mx-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancelar</a>
                {% else %}
                  <a href="{% url 'arbolsaf:variable_type_detail' form.instance.id %}"
                     class="btn btn-danger btn-large btn-sm m-b-xm mx-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancelar</a>
                {% endif %}
                </div>
              </div>
            </div>
            <hr class="horizontal dark my-3">
            
            <div class="row mt-4 mb-2">
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.cod_var.label }}
                    {% if form.cod_var.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.cod_var }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.variable.label }}
                    {% if form.variable.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.variable }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.unidad_medida.label }}
                    {% if form.unidad_medida.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.unidad_medida }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.tipo_variables.label }}
                    {% if form.tipo_variables.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.tipo_variables }}
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.familia.label }}
                    {% if form.familia.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.familia }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.min.label }}
                    {% if form.min.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.min }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.max.label }}
                    {% if form.max.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.max }}
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12">
                <div class="form-group">
                  <h5>
                    {{ form.niveles_categoricos.label }}
                    {% if form.niveles_categoricos.required %}<span>*</span>{% endif %}
                  </h5>
                  {{ form.niveles_categoricos }}
                </div>
              </div>

            </div>

            <div class="row mb-2">
              <div class="col-12">
                <div class="form-group">
                  <h5>
                    {{ form.descripcion.label }}
                    {% if form.descripcion.required %}<span>*</span>{% endif %}
                  </h5>
                  {{ form.descripcion }}
                </div>
              </div>

            </div>

          </div>
        </form>
      </div>

      
    </div>
    {% include "includes/footer.html" %}
  </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>



{% endblock javascripts %}
