{% extends 'layouts/base.html' %}
{% load user_has_group %}
{% block title %} Formulario Variable {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


<style type="text/css">



</style>
{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        
        <div class="card card-body mt-4">
          <!--h6 class="mb-0">New Project</h6>
          <p class="text-sm mb-0">Create new project</p-->
            <div class="row">
              <div class="col-6">
               <h3> Detalles: <span>'{% firstof variable.variable|default_if_none:"-"|capfirst %}' </span></h3>           
              </div>
              <div class="col-6">
                  <div class="d-flex justify-content-end">
                      <a href="{% url 'arbolsaf:variable_type_list' %}"
                      class="btn btn-secondary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
                      {% if request.user|has_group:"editor" or request.user.is_superuser %} 
                  <a href="{% url 'arbolsaf:variable_type_create' %}"
                      class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear</a>
                  
                 
                  <a href="{% url 'arbolsaf:variable_type_update' variable.id %}"
                      class="btn btn-info btn-large btn-sm m-b-xm mx-1"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</a>
                  <!--a class="btn btn-danger btn-large btn-sm m-b-xm"><i class="fa fa-edit"></i>&nbsp;&nbsp;Eliminar</a-->
                  <button class="btn btn-danger btn-large btn-sm m-b-xm mx-1"
                          id="eliminarB"
                          data-bs-toggle="modal"
                          data-bs-target="#deleteModal"
                          value="{{ variable.id }} ">
                    <i class="far fa-trash-alt me-2" aria-hidden="true"></i>&nbsp;&nbsp;Eliminar
                  </button>
                  {% endif %}
           
                </div>
              </div>

            </div>

          <hr class="horizontal dark my-3">


          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h6>Código variable </h6>
                <span class="mr-2">{% firstof variable.cod_var|default_if_none:"-" %}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Variable </h6>
                <span class="mr-2">{% firstof variable.variable|default_if_none:"-"|capfirst %}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Unidad de medida </h6>
                <span class="mr-2">{% firstof variable.unidad_medida|default_if_none:"-" %}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Tipo de Variable </h6>
                <span class="mr-2">{% firstof variable.get_tipo_variables_display|default_if_none:"-"|capfirst %}</span>
              </div>
            </div>
          
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h6>Grupo </h6>
                <span class="mr-2">{% firstof variable.familia|default_if_none:"-"|capfirst %}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Min </h6>
                <span class="mr-2">{% firstof variable.min|default_if_none:"-" %}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Max </h6>
                <span class="mr-2">{% firstof variable.max|default_if_none:"-" %}</span>
              </div>
            </div>
            <!--div class="col-3">
              <div class="form-group">
                <h6>Tipo Variable </h6>
                <spam class="mr-2">{% firstof variable.get_tipo_variables_display|default_if_none:"-" %}</span>
              </div>
            </div-->
          
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h5>Niveles categoricos </h5>
                <span class="mr-2">{% firstof variable.niveles_categoricos|default_if_none:"-" %}</span>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h5>Descripción </h5>
                <span class="mr-2">{% firstof variable.descripcion|default_if_none:"-" %}</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
        <div class="modal fade"
            id="deleteModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
              <button type="button"
                      class="btn-close text-dark"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      id="elim">
                <!--span aria-hidden="true">&times;</span-->
              </button>
            </div>
            <div class="modal-body">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Está seguro que desea eliminarel tipo de variable?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn bg-success" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn bg-danger text-white" id="aceptar">Aceptar</button>
            </div>
          </div>
        </div>
        </div>
    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %} 

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
document.getElementById("aceptar").addEventListener('click', function(){

  console.log('ACEPTAR');
  var valor = document.getElementById('eliminarB').value;

  var request = $.ajax({
      type: "GET",
      url: "/arbolsaf/tipos_variable/eliminar",
      data: {
          "id": valor
      },
      success: function (response) {
          console.log(response)
          $("#deleteModal").modal('hide');
          $(location).attr('href', "{% url 'arbolsaf:variable_type_list'%}");

      },
      error: function (response, e) {
          console.log(response);
          
          $("#deleteVariable").modal('hide');
          if (response.responseJSON.mensaje =='restricted'){
               alert(response.responseJSON.error);
          }
          else{
             alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
          }
          
          
      }
  });

});   
</script>
{% endblock javascripts %}