{% extends 'layouts/base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block title %} Projects General {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}
<style type="text/css">


 #gis {
     width:100%;
     height:700px;
     }
  .clickable{
      cursor: pointer;
 }

    </style>
{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <div class="card card-body mt-4">
          <!--h6 class="mb-0">New Project</h6>
          <p class="text-sm mb-0">Create new project</p-->
            <div class="row">
              <div class="col-7">
               <h3>Detalles: <span>'{% firstof farm.name|default_if_none:"-" %}'</span></h3>
              </div>
              <div class="col-5">
                <div class="d-flex justify-content-end">
                  <a href="{% url 'ganaclima:farm_list' %}" class="btn btn-secondary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
                  <a href="{% url 'ganaclima:farm_create'%}" class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear</a>
                  <a href="{% url 'ganaclima:farm_update' farm.id %}" class="btn btn-info btn-large btn-sm m-b-xm mx-1"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</a>
                  <!--a class="btn btn-danger btn-large btn-sm m-b-xm"><i class="fa fa-edit"></i>&nbsp;&nbsp;Eliminar</a-->
                  <button class="btn btn-danger btn-large btn-sm m-b-xm mx-1"
                    id="eliminarB" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    value="{{ farm.id }} "><i class="far fa-trash-alt me-2"
                                          aria-hidden="true"></i>&nbsp;&nbsp;Eliminar</button>
                
    
                </div>
              </div>

            </div>

          <hr class="horizontal dark my-3">


          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h6>Nombre</h6>
                <spam class="mr-2">{% firstof farm.name|default_if_none:"-" %}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Codigo</h6>
                <spam class="mr-2">{% firstof farm.codigo|default_if_none:"-" %}</span>
              </div>                
              
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Provincia</h6>
                <spam class="mr-2">{% firstof farm.provincia|default_if_none:"-" %}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Producto</h6>
                <spam class="mr-2">{% firstof farm.producto|default_if_none:"-" %}</span>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <h6>Pasto principal</h6>
                <spam class="mr-2">{% firstof farm.pasto_principal|default_if_none:"-" %}</span>
              </div>                
              
            </div>
          </div>

        
        </div>
        <div class="card mt-4" id="geo">
          <div class="card-header">
            <h5>Localizacion</h5>
          </div>
          <div class="card-body d-sm-flex pt-0">
          

              {% leaflet_map "gis" callback="window.our_layers" %}
            
                
          </div>
        </div>
      
        
 
        <section id="periodos">
        <div class="card mt-4" id="geo">
          <div class="card-header">
            <div class="row">
              <div class="col-10">
                <h5>Periodos</h5>
              </div>
              <div class="col-2">
              <div class="d-flex justify-content-end">
                <a href="{% url 'ganaclima:farm_create_period' farm.id %}" class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Adicionar</a>
              </div>
            </div>
          </div>
          </div>
          <div class="card-body d-sm-flex pt-0">
            {% if farm.get_periodos  %}
            
            <table class="table table-bordered table-hover mt-0" id="mydatatable">

              <tbody>
                {% for period in farm.get_periodos %}
                  <tr class="clickable"
                      onclick="window.open('{% url 'ganaclima:period_detail' period.id %}','_blank')">
                    <!--tr class="clickable" onclick="window.location='http://localhost:8000/riesgo/centro/detalles/{{center.id }}'"> -->
                    <td>
                      <!--b class="text-navy" >{{ center.name }}</b-->
                      {{ period.name }}
                    </td>


                  </tr>
                </tbody>
              {% endfor %}
            </table>
            {% else %}
            <h5 style="color: red" class="text-center  float-center" >No existen periodos</h5>
            {% endif %}
          </div>
        </div>
       </section>
        <!--div class="card mt-4" id="geo">
          <div class="card-header">
            <h5>Metado</h5>
          </div>
          <div class="card-body d-sm-flex pt-0">
            <div class="chart">
              <canvas id="bar-chart-metano-enterica" class="chart-canvas" width="500" height="400" style="cursor: pointer;">></canvas>
          </div>

          </div>
        </div-->
        <div class="row mt-4">
         
              <div class="col-md-6 mb-4">
                  <div class="card z-index-2">
                      <div class="card-header p-3 pb-0">
                          <h6>Total Metano fermentación entérica (Kg)</h6>
                      </div>
                      <div class="card-body p-3">
                          <div class="chart">
                              <canvas id="bar-chart-metano-enterica" class="chart-canvas" height="300"></canvas>
                          </div>
                      </div>
                  </div>
              </div>
        
              <div class="col-md-6 mb-4">
                <div class="card z-index-2">
                    <div class="card-header p-3 pb-0">
                        <h6>Total Metano manejo de excretas (Kg)</h6>
                    </div>
                    <div class="card-body p-3">
                        <div class="chart">
                            <canvas id="bar-chart-metano-excretas" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="card z-index-2">
                  <div class="card-header p-3 pb-0">
                      <h6>Total n2o</h6>
                  </div>
                  <div class="card-body p-3">
                      <div class="chart">
                          <canvas id="bar-chart-n20-excretas" class="chart-canvas" height="300"></canvas>
                      </div>
                  </div>
              </div>
          </div>
 
          <div class="col-md-6 mb-4">
            <div class="card z-index-2">
                <div class="card-header p-3 pb-0">
                    <h6>Total emisiones</h6>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="pie-chart-emisiones" class="chart-canvas" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
       </div>


       <div class="card" id="geo">
        <div class="card-header">
          <h5>Total leche y carne</h5>
        </div>
        <div class="card-body">
        

          <div class="chart">
            <canvas id="line-chart-leche-carne" class="chart-canvas" height="300"></canvas>
        </div>
          
              
        </div>
      </div>
      </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
               <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"
                       id="elim">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <p class="text-sm mb-0 text-capitalize font-weight-bold">Está seguro que desea eliminar la finca?</p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn bg-success" data-bs-dismiss="modal">Cerrar</button>
               <button type="button" class="btn bg-danger text-white" id="aceptar">Aceptar</button>
           </div>
       </div>
   </div>
</div>
    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %} 

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script src="{% static '/assets/js/plugins/chartjs.min.js' %}"></script>

<script type="text/javascript">


  document.getElementById("aceptar").addEventListener('click', function(){

    console.log('ACEPTAR');
    var valor = document.getElementById('eliminarB').value;

    var request = $.ajax({
        type: "GET",
        url: "/ganaclima/finca/eliminar",
        data: {
            "id": valor
        },
        success: function (response) {
            console.log(response)
            $("#deleteModal").modal('hide');
            $(location).attr('href', "{% url 'ganaclima:farm_list' %}");

        },
        error: function (response, e) {
            console.log(response);
            
            $("#deleteModal").modal('hide');
            if (response.responseJSON.mensaje =='restricted'){
                 alert(response.responseJSON.error);
            }
            else{
               alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
            }
            
            
        }
    });

});   

  function our_layers(map,options){
      console.log('Layer');
      var geom = {{ farm|geojsonfeature|safe }};
      var feature = L.geoJson(geom).addTo(map);
      map.fitBounds(feature.getBounds());
      map.setZoom(12)
  };
                              

  //var ctx1carbon = document.getElementById("line-chart-carbon").getContext("2d");



  let chart_metano_fermentacion_enterica = new Chart(document.getElementById("bar-chart-metano-enterica"), {
    type: 'bar',
    data: {
      labels: {{periodo_label|safe}},
      datasets: [
        {
          label: "Total Metano fermentación entérica (Kg)",
          //backgroundColor: "#ffbf42",
          backgroundColor: '#064728',
          weight: 5,
          borderWidth: 0,
          borderRadius: 4,
          //fill: false,
          //maxBarThickness: 35,
          data: {{total_metano_fermentacion_enterica|safe}}

          
        }, 
        //{
        //  label: "Tiene electricidad disponible",
        //  backgroundColor: "#ff8041",
        //  data: {{infraestructure_electricity_list|safe}}
        //}
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: true,
          labels: {
            font: {
              size: 16
            }
          },
      },
      tooltip: {
        titleFont: {
          size: 30
        },
        bodyFont: {
          size: 20
        },
        footerFont: {
          size: 5 // there is no footer by default
        }
      }
      },
      scales: {
          y: {
              grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
              },
              ticks: {
                  display: true,
                  padding: 10,
                  color: '#000000',
                  font: {
                    size: 14,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
              }
          },
          x: {
              grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: true,
                  drawTicks: true,
              },
              ticks: {
                  display: true,
                  color: '#000000',
                  padding: 10,
                  font: {
                    size: 14,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
              }
          },
      },
  },
  });
  let chart_metano_excretas = new Chart(document.getElementById("bar-chart-metano-excretas"), {
    type: 'line',
    data: {
      labels: {{periodo_label|safe}},
      datasets: [
        {
          label: "Total Metano manejo de excretas (Kg)",
          //backgroundColor: "#ffbf42",
          backgroundColor: 'rgb(75, 192, 192)',
          borderColor: 'rgb(75, 192, 192)',
          weight: 5,
          borderWidth: 6,
          borderRadius: 4,
          //fill: false,
          //maxBarThickness: 35,
          data: {{total_metano_manejo_excretas|safe}}

          
        }, 
        //{
        //  label: "Tiene electricidad disponible",
        //  backgroundColor: "#ff8041",
        //  data: {{infraestructure_electricity_list|safe}}
        //}
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: true,
          labels: {
            font: {
              size: 15
            }
          },
      },
      tooltip: {
        titleFont: {
          size: 30
        },
        bodyFont: {
          size: 20
        },
        footerFont: {
          size: 5 // there is no footer by default
        }
      }
      },
      interaction: {
          intersect: false,
          mode: 'index',
      },
      scales: {
          y: {
              grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
              },
              ticks: {
                  display: true,
                  padding: 10,
                  color: '#000000',
                  font: {
                      size: 14,
                      family: "Open Sans",
                      style: 'normal',
                      lineHeight: 2
                  },
              }
          },
          x: {
              grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: true,
                  borderDash: [5, 5]
              },
              ticks: {
                  display: true,
                  color: '#000000',
                  padding: 10,
                  font: {
                      size: 14,
                      family: "Open Sans",
                      style: 'normal',
                      lineHeight: 2
                  },
              }
          },
      },
  },
  });

  let chart_n20_excretas= new Chart(document.getElementById("bar-chart-n20-excretas"), {
    type: 'bar',
    data: {
      labels: {{periodo_label|safe}},
      datasets: [
        {
          label: "Total N2O manejo de excretas (Kg)",
          //backgroundColor: "#ffbf42",
          backgroundColor: 'rgb(75, 192, 192)',
          weight: 5,
          borderWidth: 0,
          borderRadius: 4,
          //fill: false,
          //maxBarThickness: 35,
          data: {{total_n2o_manejo_excretas|safe}}

          
        }, 
        {
          label: "Total N2O excretas en pasturas (Kg)",
          //backgroundColor: "#ffbf42",
          backgroundColor: '#088728',
          weight: 5,
          borderWidth: 0,
          borderRadius: 4,
          //fill: false,
          //maxBarThickness: 35,
          data: {{total_n2o_excretas_pasturas|safe}}

          
        }, 
        //{
        //  label: "Tiene electricidad disponible",
        //  backgroundColor: "#ff8041",
        //  data: {{infraestructure_electricity_list|safe}}
        //}
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: true,
          labels: {
            font: {
              size: 16
            }
          },
      },
      tooltip: {
        titleFont: {
          size: 30
        },
        bodyFont: {
          size: 20
        },
        footerFont: {
          size: 5 // there is no footer by default
        }
      }
      },
      scales: {
          y: {
              grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
              },
              ticks: {
                  display: true,
                  padding: 10,
                  color: '#000000',
                  font: {
                    size: 14,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
              }
          },
          x: {
              grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: true,
                  drawTicks: true,
              },
              ticks: {
                  display: true,
                  color: '#000000',
                  padding: 10,
                  font: {
                    size: 14,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
              }
          },
      },
  },
  });

  let chart_emisiones= new Chart(document.getElementById("pie-chart-emisiones"), {
    type: 'doughnut',
    data: {
      labels: {{periodo_label|safe}},
      datasets: [
        {
          label: "Total N2O manejo de excretas (Kg)",
          //backgroundColor: "#ffbf42",
          backgroundColor:
          [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      '#ffbf42'
    ],
          weight: 5,
          borderWidth: 0,
          borderRadius: 4,
          //fill: false,
          //maxBarThickness: 35,
          data: {{total_emisiones|safe}}

          
        }, 

        //{
        //  label: "Tiene electricidad disponible",
        //  backgroundColor: "#ff8041",
        //  data: {{infraestructure_electricity_list|safe}}
        //}
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: true,
          labels: {
            font: {
              size: 16
            }
          },
      },
      tooltip: {
        titleFont: {
          size: 30
        },
        bodyFont: {
          size: 20
        },
        footerFont: {
          size: 5 // there is no footer by default
        }
      }
      },

  },
  });
  let chart_lecha_carne= new Chart(document.getElementById("line-chart-leche-carne"), {
    type: 'line',
    data: {
      labels: {{periodo_label|safe}},
      datasets: [
        {
          label: "Total de leche",
          //backgroundColor: "#ffbf42",
          backgroundColor: 'rgb(75, 192, 192)',
          borderColor: 'rgb(75, 192, 192)',
          weight: 5,
          borderWidth: 6,
          borderRadius: 4,
          //fill: false,
          //maxBarThickness: 35,
          data: {{total_leche|safe}}

          
        }, 
        {
          label: "Total de carne",
          //backgroundColor: "#ffbf42",
          backgroundColor: '#ffbf42',
          borderColor: '#ffbf42',
          weight: 5,
          borderWidth: 6,
          borderRadius: 4,
          //fill: false,
          //maxBarThickness: 35,
          data: {{total_carne|safe}}

          
        }, 
        //{
        //  label: "Tiene electricidad disponible",
        //  backgroundColor: "#ff8041",
        //  data: {{infraestructure_electricity_list|safe}}
        //}
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
          legend: {
              display: true,
              labels: {
                font: {
                  size: 20
                }
              },
          },
          tooltip: {
            titleFont: {
              size: 50
            },
            bodyFont: {
              size: 25
            },
            footerFont: {
              size: 5 // there is no footer by default
            }
          }
      },
      interaction: {
          intersect: false,
          mode: 'index',
      },
      scales: {
          y: {
              grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
              },
              ticks: {
                  display: true,
                  padding: 10,
                  color: '#000000',
                  font: {
                      size: 16,
                      family: "Open Sans",
                      style: 'normal',
                      lineHeight: 2
                  },
              }
          },
          x: {
              grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: true,
                  borderDash: [5, 5]
              },
              ticks: {
                  display: true,
                  color: '#000000',
                  padding: 10,
                  font: {
                      size: 16,
                      family: "Open Sans",
                      style: 'normal',
                      lineHeight: 2
                  },
              }
          },
      },
  },
  });
 

 


</script>
{% endblock javascripts %}