{% extends 'layouts/base.html' %}
{% block title %}
  Formulario Variable
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger text-white">
                  <strong>{{ error|escape }}</strong>
                  {{ field.label|capfirst }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger text-white">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          <div class="card card-body mt-4">
            <!--h6 class="mb-0">New Project</h6>
          <p class="text-sm mb-0">Create new project</p-->
            <div class="row">
              <div class="col-7">
                {% if not form.instance.id %}
                  <h3>Nueva variable</h3>
                  <h4>
                    Especie: <span>{{ specie }}</span>
                  </h4>
                {% else %}
                  <h3>
                    Actualizar variable:  <span>'{% firstof variable.tipo_variable|default_if_none:"-" %}'</span>
                  </h3>
                  <h4>
                    Especie: <span>{{ variable.especie }}</span>
                  </h4>
                {% endif %}
              </div>
              <div class="col-5">
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary btn-large btn-sm m-b-xm mx-1">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Guardar
                  </button>
                  {% if not form.instance.id %}
                    <a href="{{ species_url }}"
                       class="btn btn-danger btn-large btn-sm m-b-xm mx-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancelar</a>
                  {% else %}
                    <a href="{% url 'arbolsaf:species_detail_variable' form.instance.id  %}"
                       class="btn btn-danger btn-large btn-sm m-b-xm mx-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancelar</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <hr class="horizontal dark my-3">
            <div class="row mb-3">

              <div class="col-2 mt-2">
                <h6>
                  {{ form.tipo_variable.label }}
                  {% if form.tipo_variable.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.tipo_variable }}</div>
              
              <div class="col-2 mt-2">
                <h6>
                  {{ form.referencia.label }}
                  {% if form.referencia.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.referencia }}</div>
              

            </div>
            <div class="row mb-3">
              <div class="col-2 mt-2">
                <h6>
                  {{ form.valor_general.label }}
                  {% if form.valor_general.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.valor_general }}</div>
            </div>
            <div class="row mb-3">
              <div class="col-2 mt-2">
                <h6>
                  {{ form.valor_numerico.label }}
                  {% if form.valor_numerico.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.valor_numerico }}</div>
              
            </div>
            <div class="row mb-3">
              <div class="col-2 mt-2">
                <h6>
                  {{ form.rango_inferior.label }}
                  {% if form.rango_inferior.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.rango_inferior }}</div>
              <div class="col-2 mt-2">
                <h6>
                  {{ form.rango_superior.label }}
                  {% if form.rango_superior.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.rango_superior }}</div>
            </div>
            <div class="row mb-3">

              <div class="col-2 mt-2">
                <h6>
                  {{ form.valor_texto.label }}
                  {% if form.valor_texto.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.valor_texto }}</div>

            </div>
            <div class="row mb-3">

              <div class="col-2 mt-2">
                <h6>
                  {{ form.valor_boolean.label }}
                  {% if form.valor_boolean.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3"><div class="form-check">{{ form.valor_boolean }}</div></div>
              
            </div>

            <div class="row mb-3">

              <div class="col-2 mt-2">
                <h6>
                  {{ form.categoria.label }}
                  {% if form.categoria.field.required %}<span>*</span>{% endif %}
                </h6>
              </div>
              <div class="col-3">{{ form.categoria }}</div>

            </div>

            <div class="row">
              <div class="col-3">
                {{ form.especie }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script>
  $(document).ready(function () {

    //getVariableType();
/*
  tipo_variable = $('#id_tipo_variable').find(":selected").val();
  if (tipo_variable=='numerico'){
    $('#id_lat').disabled = true;
    $('#id_lng').disabled = true;
    $('#div_lat').hide();
    $('#div_lng').hide();
    
  }
  else{
   $('#geo_card').hide();
   $('id_lat').attr('required', true); 
   $('id_lng').attr('required', true); 
    
  }
*/
/*
  $('#id_tipo_variable').on('change', function() { 

    $("#id_tipo_variable").prop('required',true);
    getVariableType();
    
    

  })*/
    //alert('el valor es '+{{specie_pk}})
 

    document.getElementById("id_especie").value = "{{specie_pk}}";
    //alert(document.getElementById("id_especie").value);
     //$("#id_especie").value = {{specie_pk}};
  


});


function getVariableType(){
  tipo_variable = $('#id_tipo_variable').find(":selected").val();
  if (tipo_variable){
    var request = $.ajax({
      type: "GET",
      url: "/arbolsaf/variable/tipo",
      data: {
          "id": tipo_variable
      },
      success: function (response) {
          
          console.log(response.tipo_variable);
          if (response.tipo_variable=='numerico'){
            console.log('Tipo variable numerico');
            $("#id_valor_texto").prop('disabled', true);
            $("#id_valor_numerico").prop('disabled', false);
            $("#id_rango_superior").prop('disabled', true);
            $("#id_rango_inferior").prop('disabled', true);
            $("#id_valor_boolean").prop('disabled', true);
            $("#div_valor_texto").hide();
            $("#div_valor_numerico").show();
            $("#div_rango_superior").hide();
            $("#div_rango_inferior").hide();
            $("#div_valor_boolean").hide();
  
            $("#id_valor_texto").prop('required',false);
            $("#id_valor_numerico").prop('required',true);
            $("#id_rango_superior").prop('required',false);
            $("#id_rango_inferior").prop('required',false);
            $("#id_valor_boolean").prop('required',false);
  
  
  
          }
          else if (response.tipo_variable=='texto'){
            console.log('Tipo variable texto');
            $("#id_valor_texto").prop('disabled', false);
            $("#id_valor_numerico").prop('disabled', true);
            $("#id_rango_superior").prop('disabled', true);
            $("#id_rango_inferior").prop('disabled', true);
            $("#id_valor_boolean").prop('disabled', true);
            $("#div_valor_texto").show();
            $("#div_valor_numerico").hide();
            $("#div_rango_superior").hide();
            $("#div_rango_inferior").hide();
            $("#div_valor_boolean").hide();
  
            $("#id_valor_texto").prop('required',true);
            $("#id_valor_numerico").prop('required',false);
            $("#id_rango_superior").prop('required',false);
            $("#id_rango_inferior").prop('required',false);
            $("#id_valor_boolean").prop('required',false);
  
          }
          else if (response.tipo_variable=='rango'){
            console.log('Tipo variable rango');
            $("#id_valor_texto").prop('disabled', true);
            $("#id_valor_numerico").prop('disabled', true);
            $("#id_rango_superior").prop('disabled', false);
            $("#id_rango_inferior").prop('disabled', false);
            $("#id_valor_boolean").prop('disabled', true);
            $("#div_valor_texto").hide();
            $("#div_valor_numerico").hide();
            $("#div_rango_superior").show();
            $("#div_rango_inferior").show();
            $("#div_valor_boolean").hide();
  
            $("#id_valor_texto").prop('required',false);
            $("#id_valor_numerico").prop('required',false);
            $("#id_rango_superior").prop('required',true);
            $("#id_rango_inferior").prop('required',true);
            $("#id_valor_boolean").prop('required',false);
  
          }
          else if (response.tipo_variable=='boolean'){
            console.log('Tipo variable boolean');
            $("#id_valor_texto").prop('disabled', true);
            $("#id_valor_numerico").prop('disabled', true);
            $("#id_rango_superior").prop('disabled', true);
            $("#id_rango_inferior").prop('disabled', true);
            $("#id_valor_boolean").prop('disabled', false);
  
            $("#div_valor_texto").hide();
            $("#div_valor_numerico").hide();
            $("#div_rango_superior").hide();
            $("#div_rango_inferior").hide();
            $("#div_valor_boolean").show();
          }
          else {
            console.log('Tipo variable desconocido');
            $("#id_valor_texto").prop('disabled', true);
            $("#id_valor_numerico").prop('disabled', true);
            $("#id_rango_superior").prop('disabled', true);
            $("#id_rango_inferior").prop('disabled', true);
            $("#id_valor_boolean").prop('disabled', true);
  
            $("#div_valor_texto").hide();
            $("#div_valor_numerico").hide();
            $("#div_rango_superior").hide();
            $("#div_rango_inferior").hide();
            $("#div_valor_boolean").hide();
          }
  
  
      },
      error: function (response, e) {
  
      }
      
  });

  }
  else{
    console.log('Tipo variable desconocido');
    $("#id_valor_texto").prop('disabled', true);
    $("#id_valor_numerico").prop('disabled', true);
    $("#id_rango_superior").prop('disabled', true);
    $("#id_rango_inferior").prop('disabled', true);
    $("#id_valor_boolean").prop('disabled', true);

    $("#div_valor_texto").hide();
    $("#div_valor_numerico").hide();
    $("#div_rango_superior").hide();
    $("#div_rango_inferior").hide();
    $("#div_valor_boolean").hide();
  }


}
  
  </script>
{% endblock javascripts %}
