{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
  Detalles especie
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<style type="text/css">

//  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
//    background: red;
//}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: #21ac8d;
 
}
/*
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #48be1d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #ffffff 0%, #48be1d 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #48be1d 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #ffffff 0%, #48be1d 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #48be1d 100%);
  /* W3C */
}
*/
</style>
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="page-header min-height-300 border-radius-xl mt-4"
           style="background-image: url('/static/assets/img/curved-images/curved0.jpg');
                  background-position-y: 50%">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <!--div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="/static/assets/img/arbol.jpeg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div-->
          <div class="col-auto my-auto">
            <div class="h-100">
              <h3>
                Detalles: <span>'{% firstof specie.nombre_comun|default_if_none:"-" %}'</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 d-flex justify-content-end">
            <a href="{% url 'arbolsaf:species_list' %}"
               class="btn btn-secondary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
            <a href="{% url 'arbolsaf:species_create' %}"
               class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear</a>
            <a href="{% url 'arbolsaf:species_update' specie.id %}"
               class="btn btn-info btn-large btn-sm m-b-xm mx-1"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</a>
            <button class="btn btn-danger btn-large btn-sm m-b-xm mx-1"
                    id="eliminarB"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    value="{{ specie.id }} ">
              <i class="far fa-trash-alt me-2" aria-hidden="true"></i>&nbsp;&nbsp;Eliminar
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-12 mx-auto">
        <div class="card card-body mt-2">
          <div class="row mt-4 mb-2">
            <div class="col-6">
              <div class="form-group">
                <h6>Nombre común</h6>
                <div class="mr-2">
                  {% firstof specie.nombre_comun|default_if_none:"-" %}</dic>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <h6>Nombre científico</h6>
                <div class="mr-2">{% firstof specie.nombre_cientifico|default_if_none:"-" %}</div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              <div class="form-group">
                <h6>Nombre científico completo</h6>
                <div class="mr-2">{% firstof specie.nombre_cientifico_completo|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Código especie</h6>
                <div class="mr-2">{% firstof specie.cod_esp|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Taxon ID WFO</h6>
                {% if specie.taxonid_wfo%}
                  <a href="http://www.worldfloraonline.org/taxon/{{specie.taxonid_wfo}}" target="_blank">{% firstof specie.taxonid_wfo|default_if_none:"-" %}</a>
                {% else %}
                -
                {% endif %}
                <!--div class="mr-2">{% firstof specie.taxonid_wfo|default_if_none:"-" %}</div-->
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h6>Variedad/Subespecie</h6>
                <div class="mr-2">{% firstof specie.variedad_subespecie|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Familia</h6>
                <div class="mr-2">{% firstof specie.familia|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Género</h6>
                <div class="mr-2">{% firstof specie.genero|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>Epíteto</h6>
                <div class="mr-2">{% firstof specie.epiteto|default_if_none:"-" %}</div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h6>Autor</h6>
                <div class="mr-2">{% firstof specie.autor|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <div class="form-group">
                  <h6>Nativa para Perú</h6>
                  <div class="mr-2">{{ specie.nativa|yesno:_("SI,NO") }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section id="sinonimosection">
          <div class="card mt-4" id="geo">
            <div class="card-header">
              <div class="row">
                <div class="col-10">
                  <h5>
                    Sinónimos
                  </h5>
                </div>
                <div class="col-2">
                  <div class="d-flex justify-content-end">
                    <a href="{% url 'arbolsaf:species_create_synonymous' specie.id %}"
                       class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Adicionar</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body d-sm-flex pt-0">
              {% if specie.get_sinonimos %}
                <table class="table table-bordered table-hover mt-0" id="mydatatable">
                  <tbody>
                    {% for sinonimo in specie.get_sinonimos %}
                      <tr>
                        <td>
                          {{ sinonimo }}
                        </td>
                        <td class="text-center">
                          <button class="btn btn-link text-danger text-gradient px-0 mb-0 deletebin-sinonimo"
                                  id="eliminarSinonimo"
                                  data-bs-toggle="modal"
                                  data-bs-target="#deletesinonimoModal"
                                  value="{{ sinonimo.id }}">
                            <i class="far fa-trash-alt me-2" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  {% endfor %}
                </table>
              {% else %}
                <h5 style="color: red" class="text-center  float-center">
                  No existen sinónimos
                </h5>
              {% endif %}
            </div>
          </div>
        </section>
        <input type="hidden" id="selectedVariable" name="selectedVariableName"/>
        <input type="hidden" id="selectedSinonimo" name="selectedSinonimoName"/>
        <section id="variablessection">
          <div class="card mt-4" id="geo">
            <div class="card-header">
              <div class="row">
                <div class="col-10">
                  <h5>Variables</h5>
                </div>
                <div class="col-2">
                  <div class="d-flex justify-content-end">
                    <a href="{% url 'arbolsaf:species_create_variable' specie.id %}"
                       class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Adicionar</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              {% if specie.get_variables %}
              <div class="row">
                <div class="col-12">
              <div class="table-responsive">
                <table class="table table-flush" id="datatable-variables">
                  <thead>
                    <tr>
                    <td>
                      <b>Variable</b>
                    </td>
                    <td>
                      <b>Código variable</b>
                    </td>
                    <td>
                      <b>Valor general</b>
                    </td>
                    <td>
                      <b>Fuente</b>
                    </td>
                    <td class="text-center">
                      <b>Acciones</b>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                    {% for variable in specie.get_variables %}
                      <tr>
                        
                        <td>{{ variable.tipo_variable.variable }}</td>
                        <td>{{ variable.tipo_variable.cod_var }}</td>
                        <td>
                          {{ variable.get_valor_general |slice:":20"}} {{ variable.tipo_variable.unidad_medida|default_if_none:''}}
                        </td>
                        <td>{{ variable.referencia }}</td>
                   
                        <td class="text-center">
                          <a href="{% url 'arbolsaf:species_detail_variable' variable.id %}"><i class="far fa-eye me-2 mx-2" aria-hidden="true"></i></a>
                          
                          {% if not variable.chequeo %}
                          <a href="{% url 'arbolsaf:species_update_variable' variable.id %}"><i class="far fa-edit me-2 mx-2" aria-hidden="true"></i></a>

                          {% else %}
                          <i class="far fa-edit me-2 mx-2" aria-hidden="true"></i>                 
                          {% endif %}
                          <button class="btn btn-link text-danger text-gradient px-0 mb-0 deletebin mx-2"
                                  id="eliminarVariable"
                                  data-bs-toggle="modal"
                                  data-bs-target="#deleteVariableModal"
                                  {% if variable.chequeo %}disabled {% endif %}
                                  value="{{ variable.id }}">
                            <i class="far fa-trash-alt me-2" aria-hidden="true"></i>
                          </button>
                        
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
              
                </table>
              </div>
            </div>
          </div>
              {% else %}
                <h5 style="color: red" class="text-center  float-center">
                  No existen variables
                </h5>
              {% endif %}
            </div>
          </div>
        </section>

        <section id="variablesndsection">
          <div class="card mt-4" id="geo">
            <div class="card-header">
              <div class="row">
                <div class="col-10">
                  <h5>Variables no diligenciadas</h5>
                </div>

              </div>
            </div>
            <div class="card-body pt-0">
              {% if specie.get_variables_no_diligenciadas %}
              <div class="row">
                <div class="col-12">
              <div class="table-responsive">
                <table class="table table-flush" id="datatable-variables-nd">
                  <thead>
                    <tr>
                    <td>
                      <b>Variable</b>
                    </td>
                    <td>
                      <b>Código variable</b>
                    </td>
                    <td>
                      <b>Tipo Variable</b>
                    </td>
                    <td>
                      <b>Familia</b>
                    </td>
                    <td>
                      <b>Unidad medida</b>
                    </td>
                    <td>
                      <b>Diligenciar</b>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                    {% for variable_nd in specie.get_variables_no_diligenciadas %}
                      <tr>
                        
                        <td>{{ variable_nd.variable }}</td>
                        <td>{{ variable_nd.cod_var }}</td>
                        <td>{{ variable_nd.get_tipo_variables_display }}</td>
                        <td> {% firstof variable_nd.familia|default_if_none:"-" %}</td>
                        <td> {% firstof variable_nd.unidad_medida|default_if_none:"-" %}</td>
                        
               
                        <td> <a href="{% url 'arbolsaf:species_diligenciar_variable' specie.id variable_nd.id %}"   data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Diligenciar"><i class="fa fa-plus mx-2" aria-hidden="true"></i></a>
                        </td> 
                      </tr>
                      {% endfor %}
                    </tbody>
              
                </table>
              </div>
            </div>
          </div>
              {% else %}
                <h5 style="color: red" class="text-center  float-center">
                  No existen variables no diligenciadas
                </h5>
              {% endif %}
            </div>
          </div>
        </section>

        <div class="card mt-4" id="valores_calculados">
          <div class="card-header">
            <div class="row">
              <div class="col-12">
                <h5>Funciones (valores calculados)</h5>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row mb-2">
              <div class="col-4">
                <div class="form-group">
                  <h6>Valor para madera</h6>
                  <div class="mr-2">{% firstof specie.valor_madera_category|default_if_none:"-" %} ({{specie.valor_madera}})</div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <h6>Valor para fruta</h6>
                  <div class="mr-2">{% firstof specie.valor_fruta_category|default_if_none:"-" %} ({{specie.valor_fruta}})</div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <h6>Valor para otros usos</h6>
                  <div class="mr-2">{% firstof specie.valor_otros_usos_category|default_if_none:"-" %} ({{specie.valor_otros_usos}})</div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-4">
                <div class="form-group">
                  <h6>Valor para biodiversidad</h6>
                  <div class="mr-2">{% firstof specie.valor_biodiversidad_category|default_if_none:"-" %} ({{specie.valor_biodiversidad}})</div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <h6>Valor para microclima</h6>
                  <div class="mr-2">{% firstof specie.valor_microclima_category|default_if_none:"-" %} ({{specie.valor_microclima}})</div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <h6>Valor para suelo</h6>
                  <div class="mr-2">{% firstof specie.valor_suelo_category|default_if_none:"-" %} ({{specie.valor_suelo}})</div>
                </div>
              </div>
            </div>    
          </div>
        </div>

 

        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Eliminar
                </h5>
                <button type="button"
                        class="btn-close text-dark"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        id="elim">
                  <!--span aria-hidden="true">&times;</span-->
                </button>
              </div>
              <div class="modal-body">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Está seguro que desea eliminar la especie?
                </p>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn bg-success text-white"
                        data-bs-dismiss="modal">
                  Cerrar
                </button>
                <button type="button" class="btn bg-danger text-white" id="aceptar">
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade"
             id="deleteVariableModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Eliminar
                </h5>
                <button type="button"
                        class="btn-close text-dark"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        id="elim">
                  <!--span aria-hidden="true">&times;</span-->
                </button>
              </div>
              <div class="modal-body">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Está seguro que desea eliminar la variable?
                </p>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn bg-success text-white"
                        data-bs-dismiss="modal">
                  Cerrar
                </button>
                <button type="button"
                        class="btn bg-danger text-white"
                        id="aceptarDeleteVariable">
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade"
             id="deletesinonimoModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Eliminar
                </h5>
                <button type="button"
                        class="btn-close text-dark"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        id="elim">
                  <!--span aria-hidden="true">&times;</span-->
                </button>
              </div>
              <div class="modal-body">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Está seguro que desea eliminar el sinónimoe?
                </p>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn bg-success text-white"
                        data-bs-dismiss="modal">
                  Cerrar
                </button>
                <button type="button"
                        class="btn bg-danger text-white"
                        id="aceptarDeleteSinonimo">
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade"
             id="createSinonimoModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Crear sinonimo
                </h5>
                <button type="button"
                        class="btn-close text-dark"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        id="crear-close">
                  <!--span aria-hidden="true">&times;</span-->
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'arbolsaf:sinonimo_create' %}"
                      enctype="multipart/form-data"
                      method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">
                      Sinonimo:
                    </label>
                    <input type="text" class="form-control" id="sinonimo" id="sinonimo" required>
                    <input type="hidden" id="especie" id="especie">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn bg-success text-white"
                        data-bs-dismiss="modal">
                  Cerrar
                </button>
                <button type="submit" class="btn btn-primary btn-large btn-sm m-b-xm mx-1">
                  <i class="fa fa-save"></i>&nbsp;&nbsp;Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>
  {% endblock content %}
  <!-- Specific JS goes HERE -->
  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!--script src="/static/assets/js/plugins/datatables.js"></script-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript">

      $(document).ready(function () {
        var langes = {
              "processing": "Procesando...",
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "emptyTable": "Ningún dato disponible en esta tabla",
              "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
              "infoFiltered": "(filtrado de un total de _MAX_ registros)",
              "search": "Buscar:",
              "infoThousands": ",",
              "loadingRecords": "Cargando...",
              "paginate": {
                  "first": "Primero",
                  "last": "Último",
                  "next": "Siguiente",
                  "previous": "Anterior"
              },
              "aria": {
                  "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                  "sortDescending": ": Activar para ordenar la columna de manera descendente"
              },
              "buttons": {
                  "copy": "Copiar",
                  "colvis": "Visibilidad",
                  "collection": "Colección",
                  "colvisRestore": "Restaurar visibilidad",
                  "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                  "copySuccess": {
                      "1": "Copiada 1 fila al portapapeles",
                      "_": "Copiadas %ds fila al portapapeles"
                  },
                  "copyTitle": "Copiar al portapapeles",
                  "csv": "CSV",
                  "excel": "Excel",
                  "pageLength": {
                      "-1": "Mostrar todas las filas",
                      "_": "Mostrar %d filas"
                  },
                  "pdf": "PDF",
                  "print": "Imprimir",
                  "renameState": "Cambiar nombre",
                  "updateState": "Actualizar",
                  "createState": "Crear Estado",
                  "removeAllStates": "Remover Estados",
                  "removeState": "Remover",
                  "savedStates": "Estados Guardados",
                  "stateRestore": "Estado %d"
              },
              "autoFill": {
                  "cancel": "Cancelar",
                  "fill": "Rellene todas las celdas con <i>%d<\/i>",
                  "fillHorizontal": "Rellenar celdas horizontalmente",
                  "fillVertical": "Rellenar celdas verticalmentemente"
              },
              "decimal": ",",
              "searchBuilder": {
                  "add": "Añadir condición",
                  "button": {
                      "0": "Constructor de búsqueda",
                      "_": "Constructor de búsqueda (%d)"
                  },
                  "clearAll": "Borrar todo",
                  "condition": "Condición",
                  "conditions": {
                      "date": {
                          "after": "Despues",
                          "before": "Antes",
                          "between": "Entre",
                          "empty": "Vacío",
                          "equals": "Igual a",
                          "notBetween": "No entre",
                          "notEmpty": "No Vacio",
                          "not": "Diferente de"
                      },
                      "number": {
                          "between": "Entre",
                          "empty": "Vacio",
                          "equals": "Igual a",
                          "gt": "Mayor a",
                          "gte": "Mayor o igual a",
                          "lt": "Menor que",
                          "lte": "Menor o igual que",
                          "notBetween": "No entre",
                          "notEmpty": "No vacío",
                          "not": "Diferente de"
                      },
                      "string": {
                          "contains": "Contiene",
                          "empty": "Vacío",
                          "endsWith": "Termina en",
                          "equals": "Igual a",
                          "notEmpty": "No Vacio",
                          "startsWith": "Empieza con",
                          "not": "Diferente de",
                          "notContains": "No Contiene",
                          "notStartsWith": "No empieza con",
                          "notEndsWith": "No termina con"
                      },
                      "array": {
                          "not": "Diferente de",
                          "equals": "Igual",
                          "empty": "Vacío",
                          "contains": "Contiene",
                          "notEmpty": "No Vacío",
                          "without": "Sin"
                      }
                  },
                  "data": "Data",
                  "deleteTitle": "Eliminar regla de filtrado",
                  "leftTitle": "Criterios anulados",
                  "logicAnd": "Y",
                  "logicOr": "O",
                  "rightTitle": "Criterios de sangría",
                  "title": {
                      "0": "Constructor de búsqueda",
                      "_": "Constructor de búsqueda (%d)"
                  },
                  "value": "Valor"
              },
              "searchPanes": {
                  "clearMessage": "Borrar todo",
                  "collapse": {
                      "0": "Paneles de búsqueda",
                      "_": "Paneles de búsqueda (%d)"
                  },
                  "count": "{total}",
                  "countFiltered": "{shown} ({total})",
                  "emptyPanes": "Sin paneles de búsqueda",
                  "loadMessage": "Cargando paneles de búsqueda",
                  "title": "Filtros Activos - %d",
                  "showMessage": "Mostrar Todo",
                  "collapseMessage": "Colapsar Todo"
              },
              "select": {
                  "cells": {
                      "1": "1 celda seleccionada",
                      "_": "%d celdas seleccionadas"
                  },
                  "columns": {
                      "1": "1 columna seleccionada",
                      "_": "%d columnas seleccionadas"
                  },
                  "rows": {
                      "1": "1 fila seleccionada",
                      "_": "%d filas seleccionadas"
                  }
              },
              "thousands": ".",
              "datetime": {
                  "previous": "Anterior",
                  "next": "Proximo",
                  "hours": "Horas",
                  "minutes": "Minutos",
                  "seconds": "Segundos",
                  "unknown": "-",
                  "amPm": [
                      "AM",
                      "PM"
                  ],
                  "months": {
                      "0": "Enero",
                      "1": "Febrero",
                      "10": "Noviembre",
                      "11": "Diciembre",
                      "2": "Marzo",
                      "3": "Abril",
                      "4": "Mayo",
                      "5": "Junio",
                      "6": "Julio",
                      "7": "Agosto",
                      "8": "Septiembre",
                      "9": "Octubre"
                  },
                  "weekdays": [
                      "Dom",
                      "Lun",
                      "Mar",
                      "Mie",
                      "Jue",
                      "Vie",
                      "Sab"
                  ]
              },
              "editor": {
                  "close": "Cerrar",
                  "create": {
                      "button": "Nuevo",
                      "title": "Crear Nuevo Registro",
                      "submit": "Crear"
                  },
                  "edit": {
                      "button": "Editar",
                      "title": "Editar Registro",
                      "submit": "Actualizar"
                  },
                  "remove": {
                      "button": "Eliminar",
                      "title": "Eliminar Registro",
                      "submit": "Eliminar",
                      "confirm": {
                          "_": "¿Está seguro que desea eliminar %d filas?",
                          "1": "¿Está seguro que desea eliminar 1 fila?"
                      }
                  },
                  "error": {
                      "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                  },
                  "multi": {
                      "title": "Múltiples Valores",
                      "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                      "restore": "Deshacer Cambios",
                      "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                  }
              },
              "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
              "stateRestore": {
                  "creationModal": {
                      "button": "Crear",
                      "name": "Nombre:",
                      "order": "Clasificación",
                      "paging": "Paginación",
                      "search": "Busqueda",
                      "select": "Seleccionar",
                      "columns": {
                          "search": "Búsqueda de Columna",
                          "visible": "Visibilidad de Columna"
                      },
                      "title": "Crear Nuevo Estado",
                      "toggleLabel": "Incluir:"
                  },
                  "emptyError": "El nombre no puede estar vacio",
                  "removeConfirm": "¿Seguro que quiere eliminar este %s?",
                  "removeError": "Error al eliminar el registro",
                  "removeJoiner": "y",
                  "removeSubmit": "Eliminar",
                  "renameButton": "Cambiar Nombre",
                  "renameLabel": "Nuevo nombre para %s",
                  "duplicateError": "Ya existe un Estado con este nombre.",
                  "emptyStates": "No hay Estados guardados",
                  "removeTitle": "Remover Estado",
                  "renameTitle": "Cambiar Nombre Estado"
              }
          }  

          var oTable = $('#datatable-variables').DataTable(
          {
            language: langes
          }
          
        );
        //oTable.column(2).search("^"+$(this).val()+"$", true,false,true ).draw()
     

        $('#datatable-variables-nd').DataTable(
          {
            language: langes
          }
          
        );

        const dataTableSearch = new simpleDatatables.DataTable("#datat", {
          
          searchable: true,
          fixedHeight: true,

        });
      
    
    
    });


  document.getElementById("aceptar").addEventListener('click', function(){

    console.log('ACEPTAR');
    var valor = document.getElementById('eliminarB').value;

    var request = $.ajax({
        type: "GET",
        url: "/arbolsaf/especie/eliminar",
        data: {
            "id": valor
        },
        success: function (response) {
            console.log(response)
            $("#deleteModal").modal('hide');
            $(location).attr('href', "{% url 'arbolsaf:species_list'%}");

        },
        error: function (response, e) {
            console.log(response);
            
            $("#deleteVariable").modal('hide');
            if (response.responseJSON.mensaje =='restricted'){
                 alert(response.responseJSON.error);
            }
            else{
               alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
            }
            
            
        }
    });

});   



$(".deletebin").on('click', function () {
  //alert(this.getAttribute('value'))
  console.log('Estableciendo valot'+this.getAttribute('value'))
  var selectedbin = document.getElementById('selectedVariable')
  selectedbin.value = this.getAttribute('value')
  console.log(selectedbin.value)

});

$(".deletebin-sinonimo").on('click', function () {
  //alert(this.getAttribute('value'))
  console.log('Estableciendo valot'+this.getAttribute('value'))
  var selectedbin = document.getElementById('selectedSinonimo')
  selectedbin.value = this.getAttribute('value')
  console.log(selectedbin.value)


});

$("#aceptarDeleteVariable").on('click', function () {

  var valor = document.getElementById('selectedVariable').value;

  var request = $.ajax({
      type: "GET",
      url: "/arbolsaf/variable/eliminar",
      data: {
          "id": valor
      },
      success: function (response) {
          //console.log(response)
          $("#deleteVariableModal").modal('hide');
          //$(location).attr('href', "{% url 'arbolsaf:species_detail' specie.id %}"+'#variables');
          window.location.hash = '#variablessection';
          window.location.reload(true);
          //$('#variablessection').load(document.URL +  ' #variablessection');
      },
      error: function (response, e) {
          console.log(response);
          $("#deleteVariableModal").modal('hide');
          if (response.responseJSON.mensaje =='restricted'){
               alert(response.responseJSON.error);
          }
          else{
             alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
          }
      }
  });

});

$("#aceptarDeleteSinonimo").on('click', function () {

  var valor = document.getElementById('selectedSinonimo').value;

  var request = $.ajax({
      type: "GET",
      url: "/arbolsaf/sinonimo/eliminar",
      data: {
          "id": valor
      },
      success: function (response) {
          //console.log(response)
          $("#deletesinonimoModal").modal('hide');
          //$(location).attr('href', "{% url 'arbolsaf:species_detail' specie.id %}"+'#variables');
          window.location.hash = '#sinonimosection';
          window.location.reload(true);
          //$('#variablessection').load(document.URL +  ' #variablessection');
      },
      error: function (response, e) {
          console.log(response);
          $("#deletesinonimoModal").modal('hide');
          if (response.responseJSON.mensaje =='restricted'){
               alert(response.responseJSON.error);
          }
          else{
             alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
          }
      }
  });

});
     

    </script>
  {% endblock javascripts %}
