{% extends 'layouts/base.html' %}
{% block title %}
  Formulario Especie
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <!--div class="col-lg-12 col-12 mx-auto"-->
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger text-white">
                <strong>{{ error|escape }}</strong>
                {{ field.label|capfirst }}
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger text-white">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('/static/assets/img/curved-images/curved0.jpg');
                    background-position-y: 50%">
          <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
          <div class="row gx-4">
            <div class="col-auto my-auto">
              <div class="h-100">
                {% if not form.instance.id %}
                  <h3>Nueva especie</h3>
                {% else %}
                  <h3>
                    Actualizar:  <span>'{% firstof specie.nombre_comun|default_if_none:"-" %}'</span>
                  </h3>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-large btn-sm m-b-xm mx-1">
                <i class="fa fa-save"></i>&nbsp;&nbsp;Guardar
              </button>
              {% if not form.instance.id %}
                <a href="{% url 'arbolsaf:species_list' %}"
                   class="btn btn-danger btn-large btn-sm m-b-xm mx-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancelar</a>
              {% else %}
                <a href="{% url 'arbolsaf:species_detail' form.instance.id %}"
                   class="btn btn-danger btn-large btn-sm m-b-xm mx-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancelar</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-12 mx-auto">
          <div class="card card-body mt-2">
            <div class="row mt-4 mb-2">
              <div class="col-6">
                <div class="form-group">
                  <h6>
                    {{ form.nombre_comun.label }}
                    {% if form.nombre_comun.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.nombre_comun }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <h6>
                    {{ form.nombre_cientifico.label }}
                    {% if form.nombre_cientifico.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.nombre_cientifico }}
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <div class="form-group">
                  <h6>
                    {{ form.nombre_cientifico_completo.label }}
                    {% if form.nombre_cientifico_completo.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.nombre_cientifico_completo }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.cod_esp.label }}
                    {% if form.cod_esp.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.cod_esp }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.taxonid_wfo.label }}
                    {% if form.taxonid_wfo.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.taxonid_wfo }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.variedad_subespecie.label }}
                    {% if form.variedad_subespecie.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.variedad_subespecie }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.familia.label }}
                    {% if form.familia.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.familia }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.genero.label }}
                    {% if form.genero.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.genero }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.epiteto.label }}
                    {% if form.epiteto.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.epiteto }}
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.autor.label }}
                    {% if form.autor.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.autor }}
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <h6>
                    {{ form.nativa.label }}
                    {% if form.nativa.field.required %}<span>*</span>{% endif %}
                  </h6>
                  <div class="form-check">{{ form.nativa }}</div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <h6>{{ form.imagen.label }} {% if form.imagen.field.required %}{% endif %}</h6>
                  {{ form.imagen }}
                </div>
              </div>
            </div>
            <!--div class="row mb-2">
              <div class="col-6">
                <div class="form-group">
                  <h6>{{ form.imagen.label }} {% if form.imagen.field.required %}{% endif %}</h6>
                  {{ form.imagen }}
                </div>
              </div>
            </div-->
            <div class="row mb-2">
              <div class="col-12">
                <div class="form-group">
                  <h6>
                    {{ form.notas.label }}
                    {% if form.notas.field.required %}<span>*</span>{% endif %}
                  </h6>
                  {{ form.notas }}
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </form>
      <!--/div-->
      {% include "includes/footer.html" %}
    </div>
  {% endblock content %}
  <!-- Specific JS goes HERE -->
  {% block javascripts %}
  {% endblock javascripts %}
