{% extends 'layouts/base.html' %}

{% block title %} Formulario Especie {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger text-white">
                      <strong>{{ error|escape }}</strong>
                        {{ field.label|capfirst }}
                  </div>
              {% endfor %}
          {% endfor %}

          {% for error in form.non_field_errors %}
              <div class="alert alert-danger text-white">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
        <div class="card card-body mt-4">
          <!--h6 class="mb-0">New Project</h6>
          <p class="text-sm mb-0">Create new project</p-->
            <div class="row">
              <div class="col-7">
                {% if not form.instance.id %}
                <h3>Nueva especie</h3>
                {% else %}
                    <h3>actualizar especie:  <span>'{% firstof specie.nombre_comun|default_if_none:"-" %}'</span></h3>
                 
                {% endif %}
              
              </div>
              <div class="col-5">
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
                  <a href="{% url 'arbolsaf:species_list' %}" class="btn btn-danger btn-large btn-sm m-b-xm mx-1"><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancelar</a>

                </div>
              </div>

            </div>

          <hr class="horizontal dark my-3">


          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.cod_esp.label }} {% if form.cod_esp.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.cod_esp }}
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.taxonid_wfo.label }} {% if form.taxonid_wfo.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.taxonid_wfo }}
              </div>                
              
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.nombre_comun.label }} {% if form.nombre_comun.required %}<span>*</span>{% endif %}</h6>
                {{ form.nombre_comun }}
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.nombre_cientifico.label }} {% if form.nombre_cientifico.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.nombre_cientifico }}
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.nombre_cientifico_completo.label }} {% if form.nombre_cientifico_completo.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.nombre_cientifico_completo }}
              </div>   
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.familia.label }} {% if form.familia.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.familia }}
              </div>   
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.genero.label }} {% if form.genero.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.genero }}
              </div>   
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.epiteto.label }} {% if form.epiteto.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.epiteto }}
              </div>   
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.variedad_subespecie.label }} {% if form.variedad_subespecie.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.variedad_subespecie }}
              </div>   
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.autor.label }} {% if form.autor.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.autor }}
              </div>   
            </div>
            <div class="col-3">
              <div class="form-group">
                <h6>{{ form.nativa.label }} {% if form.nativa.field.required %}<span>*</span>{% endif %}</h6>
                {{ form.nativa }}
              </div>   
            </div>
          </div>
        </div>

      </div>
    </div>

    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %} 


{% endblock javascripts %}