{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
  Detalles especie
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <div class="card card-body mt-4">
          <!--h6 class="mb-0">New Project</h6>
          <p class="text-sm mb-0">Create new project</p-->
          <div class="row">
            <div class="col-7">
              <h3>
                Detalles: <span>'{% firstof specie.nombre_comun|default_if_none:"-" %}'</span>
              </h3>
            </div>
            <div class="col-5">
              <div class="d-flex justify-content-end">
                <a href="{% url 'arbolsaf:species_list' %}"
                   class="btn btn-secondary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
                <a href="{% url 'arbolsaf:species_create' %}"
                   class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear</a>
                <a href="{% url 'arbolsaf:species_update' specie.id %}"
                   class="btn btn-info btn-large btn-sm m-b-xm mx-1"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</a>
                <!--a class="btn btn-danger btn-large btn-sm m-b-xm"><i class="fa fa-edit"></i>&nbsp;&nbsp;Eliminar</a-->
                <button class="btn btn-danger btn-large btn-sm m-b-xm mx-1"
                        id="eliminarB"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        value="{{ specie.id }} ">
                  <i class="far fa-trash-alt me-2" aria-hidden="true"></i>&nbsp;&nbsp;Eliminar
                </button>
              </div>
            </div>
          </div>
          <hr class="horizontal dark my-3"/>
          <div class="row mb-2">
            <div class="col-3">
              <div class="form-group">
                <h6>Código especie</h6>
              <spam class="mr-2">{% firstof specie.cod_esp|default_if_none:"-" %}</span>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <h6>Taxon ID WFO</h6>
            <spam class="mr-2">{% firstof specie.taxonid_wfo|default_if_none:"-" %}</span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <h6>Nombre comun</h6>
          <spam class="mr-2">{% firstof specie.nombre_comun|default_if_none:"-" %}</span>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <h6>Nombre científico</h6>
        <spam class="mr-2">{% firstof specie.nombre_cientifico|default_if_none:"-" %}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <h6>Nombre científico completo</h6>
      <spam class="mr-2">{% firstof specie.nombre_cientifico_completo|default_if_none:"-" %}</span>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <h6>Familia</h6>
    <spam class="mr-2">{% firstof specie.familia|default_if_none:"-" %}</span>
  </div>
</div>
<div>
  <div class="col-3">
    <div class="form-group">
      <h6>Género</h6>
    <spam class="mr-2">{% firstof specie.genero|default_if_none:"-" %}</span>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <h6>Epíteto</h6>
  <spam class="mr-2">{% firstof specie.familia|default_if_none:"-" %}</span>
</div>
</div>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <h6>Variedad/Subespecie</h6>
    <spam class="mr-2">{% firstof specie.variedad_subespecie|default_if_none:"-" %}</span>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <h6>Autor</h6>
  <spam class="mr-2">{% firstof specie.autor|default_if_none:"-" %}</span>
</div>
</div>
<div class="col-3">
  <div class="form-group">
    <h6>Nativa?</h6>
  <spam class="mr-2"> {{ log.nativa|yesno:_("SI,NO") }}</span>
</div>
</div>
</div>
</div>
</div>
<section id="variables">
  <div class="card mt-4" id="geo">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h5>Variables</h5>
        </div>
        <div class="col-2">
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Adicionar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body d-sm-flex pt-0">
      <input type="hidden" id="selectedVariable" name="selectedVariableName"/>
      {% if specie.get_variables %}
        <table class="table table-bordered table-hover mt-0" id="mydatatable">
          <thead>
            <td>
              <b>Nombre</b>
            </td>
            <td>
              <b>Tipo variable</b>
            </td>
            <td>
              <b>Categoria</b>
            </td>
            <td class="text-center">
              <b>Acciones</b>
            </td>
          </thead>
          <tbody>
            {% for variable in specie.get_variables %}
              <tr>
                <td>{{ variable.nombre }}</td>
                <td>{{ variable.tipo_variable }}</td>
                <td>{{ variable.categoria }}</td>
                <td class="text-center">
                  <a href="#"><i class="far fa-eye me-2" aria-hidden="true"></i></a>
                  <a href="#"><i class="far fa-edit me-2" aria-hidden="true"></i></a>
                  <button class="btn btn-link text-danger text-gradient px-0 mb-0 deletebin"
                          id="eliminarVariable"
                          data-bs-toggle="modal"
                          data-bs-target="#deleteVariableModal"
                          value="{{ variable.id }}">
                    <i class="far fa-trash-alt me-2" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      {% else %}
        <h5 style="color: red" class="text-center  float-center">No existen variables</h5>
      {% endif %}
    </div>
  </div>
</section>
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button"
                class="btn-close text-dark"
                data-bs-dismiss="modal"
                aria-label="Close"
                id="elim">
          <!--span aria-hidden="true">&times;</span-->
        </button>
      </div>
      <div class="modal-body">
        <p class="text-sm mb-0 text-capitalize font-weight-bold">Está seguro que desea eliminar la especie?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-success" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn bg-danger text-white" id="aceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade"
     id="deleteVariableModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button"
                class="btn-close text-dark"
                data-bs-dismiss="modal"
                aria-label="Close"
                id="elim">
          <!--span aria-hidden="true">&times;</span-->
        </button>
      </div>
      <div class="modal-body">
        <p class="text-sm mb-0 text-capitalize font-weight-bold">Está seguro que desea eliminar la variable?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-success" data-bs-dismiss="modal">Cerrar</button>
        <button type="button"
                class="btn bg-danger text-white"
                id="aceptarDeleteVariable">Aceptar</button>
      </div>
    </div>
  </div>
</div>
{% include "includes/footer.html" %}
</div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script type="text/javascript">
  document.getElementById("aceptar").addEventListener('click', function(){

    console.log('ACEPTAR');
    var valor = document.getElementById('eliminarB').value;

    var request = $.ajax({
        type: "GET",
        url: "/arbolsaf/especie/eliminar",
        data: {
            "id": valor
        },
        success: function (response) {
            console.log(response)
            $("#deleteModal").modal('hide');
            $(location).attr('href', "{% url 'arbolsaf:species_detail' specie.id %}");

        },
        error: function (response, e) {
            console.log(response);
            
            $("#deleteVariable").modal('hide');
            if (response.responseJSON.mensaje =='restricted'){
                 alert(response.responseJSON.error);
            }
            else{
               alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
            }
            
            
        }
    });

});   



$(".deletebin").on('click', function () {
  //alert(this.getAttribute('value'))
  var selectedbin = document.getElementById('selectedVariable')
  selectedbin.value = this.getAttribute('value')
  console.log(selectedbin.value)

});

$("#aceptarDeleteVariable").on('click', function () {

  var valor = document.getElementById('selectedVariable').value;

  var request = $.ajax({
      type: "GET",
      url: "/arbolsaf/variable/eliminar",
      data: {
          "id": valor
      },
      success: function (response) {
          console.log(response)
          $("#deleteVariableModal").modal('hide');
          //$(location).attr('href', "{% url 'arbolsaf:species_detail' specie.id %}"+'#variables');
          window.location.hash = '#variables';
          window.location.reload(true);
      },
      error: function (response, e) {
          console.log(response);
      }
  });

});
                              

  </script>
{% endblock javascripts %}
